@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Martel+Sans:wght@600&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    height: 95vh;
    background-image: url(/assests/images/bg-img.jpg);
    background-position: center center;
    background-size: max-width(1200px 100vw);
    background-repeat: no-repeat;
    position: relative;

}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.60;
    background: black;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70vw;
    margin: auto;
    height: 60px;
    padding-top: 20px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
    color: red;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    flex-direction: column;
    font-family: 'Martel Sans', sans-serif;
    gap: 20px;
}

.hero> :first-child {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 10px;
    background-color: #232323;
}


.btn {
    padding: 4px 35px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.btn-red-sm {
    margin-left: 15px;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: red;
    color: white;
    border-radius: 2px
}

.main input {
    border-radius: 4px;
    font-weight: 600px;
    padding: 10px 120px 13px 13px;
    background-color: rgba(23, 23, 23, 0.4);
    color: white;
    border: 0.5px solid white;
    font-size: 18px;
}

.my-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-red {
    padding: 8px 20px;
    font-size: 25px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
}

.hero_first {
    max-width: 70vw;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero_img {
    position: relative;
    margin: 60px 60px;
}

.hero_img img {
    height: 480;
    width: 640;
    position: relative;
    z-index: 10;
}

.hero_first video {
    position: relative;
    right: -85px;
    top: -395px;
}

.hero_first .video {
    position: relative;
    top: 10px;
    right: 0;
}

.tv img {
    width: 35vw;
}

.tv video {
    position: relative;
    top: 10px;
    right: 0;
}

.hero_content h3 {
    font-size: 3rem;
    font-weight: 900;
}

.hero_content {
    font-size: 20px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.faq-box {
    background-color: #2d2d2d;
    padding: 24px;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.faq-box:hover {
    background-color: rgb(63, 62, 62);
    transition: all 1s ease-out;
}

.enroll {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.enroll p {
    font-size: 24px;
    margin-bottom: 15px;
}

.enroll input {
    border-radius: 4px;
    font-weight: 600px;
    padding: 10px 120px 13px 13px;
    background-color: rgba(23, 23, 23, 0.4);
    color: white;
    border: 0.5px solid white;
    font-size: 18px;
}

footer {
    color: white;
    padding: 50px 40px;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
}

.footer {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 0px;
    font-size: 15px;

}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;

}

.footer a {
    color: white;
}

.footer-items button {
    padding: 4px 15px;
}

.footer2 {
    height: 30px;
    width: 100%;
    background-color: rgb(79, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.hero_img .video {
    width: 374px;
    position: relative;
    top: -440px;
    right: -130px;
}

@media screen and (max-width:1100px) {
   
   .main{
    height: 90vh;
    width: 100%;
   }
    .hero_first {
        flex-wrap: wrap;
    }
  

    .hero_img img {
        width: 500px;
        display: flex;
    }
    .hero_img video{
        position: relative;
        top: -317px;
        height: 245px;
        width: 366px;
        right: -65px;
    }

    .hero_img .video{
        width: 325px;
        position: relative;
        top: -354px;
        right: -85px;
        height: 200px;
    }
    .hero_content{
        font-size: 15px;
    }
}

@media screen and (max-width:800px){

    .hero_img video{
        position: relative;
        top: -317px;
        height: 245px;
        width: 366px;
        right: -65px;
    }
.my-btn{

    flex-wrap: wrap;
}
.main input{
    padding: 0px 52px 11px 13px;
}
    .hero_img .video{
        width: 325px;
        position: relative;
        top: -354px;
        right: -85px;
        height: 200px;
    }

    .hero {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        flex-direction: column;
        font-family: 'Martel Sans', sans-serif;
        gap: 20px;
    }

    

.hero> :first-child {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.hero>:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
}

@media screen and (max-width:500px) {
    


    .enroll input{
        padding: 3px 9px 13px 13px;
    }
.btn-red {

    font-size: 25px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
}
.hero_img img{
    width: 400px;
    display: flex;
}
.hero_img video {
    position: relative;
    top: -238px;
    height: 165px;
    width: 372px;
    right: -16px;
}
.hero_img .video {
    width: 325px;
    position: relative;
    top: -269px;
    right: -35px;
    height: 138px;
}
.hero> :first-child {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2) {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3) {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.hero_content h3 {
    font-size: 25px;
    font-weight: 900;
}
.btn-red-sm{
    margin: 5px 5px;
}
.footer2 {
    font-size: 10px;
}
}
@media screen and (max-width:400px) {
    
    nav img{
        width: 80px;
    }
.btn-red {

    font-size: 25px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
}
.hero_img img{
    width: 300px;
    display: flex;
}
.hero_img video {
    position: relative;
    top: -181px;
    height: 126px;
    width: 269px;
    right: -17px;
}
.hero_img .video {
    width: 271px;
    position: relative;
    top: -205px;
    right: -15px;
    height: 108px;
}
.hero> :first-child {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2) {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3) {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.hero_content h3 {
    font-size: 25px;
    font-weight: 900;
}
.btn-red-sm{
    margin: 5px 5px;
}
.footer2 {
    font-size: 10px;
}
.enroll input{
    padding: 3px 9px 13px 13px;
}
footer {
    color: white;
    padding: 50px 40px;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
}

.footer {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 0px;
    font-size: 10px;

}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 10px;

}

}